In [21]:
# io文件操作
import re
import os
import glob
import shutil

from datetime import datetime

import pandas as pd
import numpy as np

## 生成ATI

In [22]:
input_root = 'D:\\1GRADUATED\\paper\\downscaling_data\\Soil_moisture_downscale_czt\\DATASET\\LABEL\\COLLECTION'
ati_out = 'D:\\1GRADUATED\\paper\\downscaling_data\\Soil_moisture_downscale_czt\\DATASET\\LABEL\\ATI'
file_extension = '*.xls'

In [23]:
# 使用 glob.glob() 函数获取符合条件的文件列表
files = glob.glob(os.path.join(input_root, file_extension))

# 遍历文件列表
for file in files:
    # 获取保存文件目录
    _filename = os.path.basename(file).split('.')[0]
    output_dir = os.path.join(ati_out, _filename)

    # 创建保存目录
    if os.path.exists(output_dir)==False:
        os.makedirs(output_dir, exist_ok=True)
    
    # 读取 Excel 文件中的数据
    df = pd.read_excel(file)
    
    # 将0替换成NAN
    df['ATISD'].replace(0, np.nan, inplace=True)
    
    # 删除包含 NaN 的行
    df = df.dropna()
    print(df)
    
    # 遍历数据中的每一行
    for index, row in df.iterrows():
        # 从数据中获取 ATIn 的文件名
        ati_filename = str(int(row['waternet_i'].split('-')[-1]))
        
        # 构造保存 ATIn 数据的目录
        ati_output_dir = os.path.join(output_dir, ati_filename)
        
        # 将 ATIn 的数据保存为 NumPy 数组文件
        val = np.asarray(row[['ATI', 'ATIM', 'ATISD']])
#         np.save(ati_output_dir, val)

    OBJECTID_1  OBJECTID  id   waternet_i            x            y     long  \
1            2         2  11  WATERNET-11  675822.6338  4197493.327  101.000
2            3         3  12  WATERNET-16  620674.6677  4233675.943  100.379
3            4         4  13  WATERNET-31  626175.1016  4223326.622  100.440
5            6         7  16  WATERNET-18  612416.1461  4216909.620  100.282
6            7         9  18  WATERNET-04  600276.4888  4219858.402  100.144
7            8        11  20  WATERNET-01  607717.4849  4214071.625  100.228
8            9        12  21  WATERNET-53  669226.3679  4197465.473  100.925
9           10        15  24  WATERNET-12  617045.9563  4205987.535  100.333
10          11        17  26  WATERNET-55  615517.1614  4227052.582  100.319
11          12        20  29  WATERNET-27  637194.1227  4214403.558  100.564
13          14        22  31  WATERNET-40  608273.2800  4211859.411  100.234
16          17        25  34  WATERNET-05  635325.3950  4205381.890  100.541
19          20        29  38  WATERNET-37  682291.7200  4199300.029  101.074
20          21        31  40  WATERNET-25  607675.1752  4210630.730  100.227
22          23        38  47  WATERNET-42  672706.9029  4203421.953  100.966
23          24        39  48  WATERNET-33  674591.2256  4193359.378  100.985

      lati      SMAP       ATI      ATIM     ATISD  SMAPID
1   37.908  0.270871  0.040645  0.044310  0.004461      44
2   38.243  0.231437  0.059187  0.054753  0.005921      10
3   38.149  0.284752  0.056647  0.048197  0.003595      18
5   38.093  0.281557  0.060066  0.046996  0.004536      17
6   38.121  0.291348  0.063414  0.043526  0.005106      15
7   38.068  0.284187  0.055494  0.052150  0.002613      16
8   37.909  0.280414  0.045753  0.041182  0.003228      43
9   37.994  0.332354  0.048520  0.045379  0.002952      27
10  38.184  0.236429  0.049774  0.055297  0.009474       9
11  38.067  0.256020  0.049182  0.053504  0.000174      20
13  38.048  0.337411  0.052164  0.050260  0.002616      26
16  37.986  0.306944  0.054598  0.043945  0.002687      29
19  37.923  0.260876  0.047896  0.046299  0.002130      45
20  38.037  0.337411  0.051491  0.050260  0.002616      26
22  37.962  0.270871  0.042680  0.044310  0.004461      44
23  37.871  0.301507  0.047224  0.045770  0.002753      51
    OBJECTID_1  OBJECTID  id   waternet_i            x            y     long  \
0            1         1  10  WATERNET-54  656945.1878  4209542.681  100.788
1            2         2  11  WATERNET-11  675822.6338  4197493.327  101.000
2            3         3  12  WATERNET-16  620674.6677  4233675.943  100.379
3            4         4  13  WATERNET-31  626175.1016  4223326.622  100.440
4            5         6  15  WATERNET-35  639656.3381  4198684.109  100.589
5            6         7  16  WATERNET-18  612416.1461  4216909.620  100.282
6            7         9  18  WATERNET-04  600276.4888  4219858.402  100.144
7            8        11  20  WATERNET-01  607717.4849  4214071.625  100.228
8            9        12  21  WATERNET-53  669226.3679  4197465.473  100.925
9           10        15  24  WATERNET-12  617045.9563  4205987.535  100.333
10          11        17  26  WATERNET-55  615517.1614  4227052.582  100.319
11          12        20  29  WATERNET-27  637194.1227  4214403.558  100.564
13          14        22  31  WATERNET-40  608273.2800  4211859.411  100.234
14          15        23  32  WATERNET-32  668538.8295  4205222.240  100.919
15          16        24  33  WATERNET-52  641062.5502  4203813.966  100.606
16          17        25  34  WATERNET-05  635325.3950  4205381.890  100.541
19          20        29  38  WATERNET-37  682291.7200  4199300.029  101.074
20          21        31  40  WATERNET-25  607675.1752  4210630.730  100.227
21          22        32  41  WATERNET-06  646897.5820  4196923.812  100.671
22          23        38  47  WATERNET-42  672706.9029  4203421.953  100.966
23          24        39  48  WATERNET-33  674591.2256  4193359.378  100.985
24          25        40  49  WATERNET-10  649206.0490  4210174.557  100.700

      lati      SMAP       ATI      ATIM     ATISD  SMAPID
0   38.020  0.188669  0.029789  0.029976  0.005266      32
1   37.908  0.189415  0.028674  0.031305  0.003896      44
2   38.243  0.157804  0.033358  0.033571  0.004516      10
3   38.149  0.186284  0.032623  0.030844  0.005451      18
4   37.925  0.210426  0.040218  0.036655  0.003764      40
5   38.093  0.190889  0.045623  0.031297  0.004642      17
6   38.121  0.192388  0.037973  0.037595  0.006869      15
7   38.068  0.185578  0.027984  0.041277  0.007980      16
8   37.909  0.194239  0.034340  0.032945  0.005291      43
9   37.994  0.221085  0.037862  0.037524  0.005070      27
10  38.184  0.160542  0.026867  0.032400  0.005589       9
11  38.067  0.182610  0.025719  0.035477  0.004207      20
13  38.048  0.218191  0.035327  0.038871  0.003418      26
14  37.979  0.182629  0.028208  0.029176  0.003622      33
15  37.971  0.210426  0.031030  0.036655  0.003764      40
16  37.986  0.197556  0.030971  0.028718  0.004598      29
19  37.923  0.187910  0.031992  0.033644  0.002578      45
20  38.037  0.218191  0.042131  0.038871  0.003418      26
21  37.908  0.205021  0.042050  0.034237  0.005244      41
22  37.962  0.189415  0.028658  0.031305  0.003896      44
23  37.871  0.209606  0.039647  0.039324  0.002327      51
24  38.027  0.192517  0.025774  0.027999  0.003296      31

## 生成 SMAPID2INSITUID

In [24]:
input_root = 'D:\\1GRADUATED\\paper\\downscaling_data\\Soil_moisture_downscale_czt\\DATASET\\LABEL\\COLLECTION'
smap2situ = 'D:\\1GRADUATED\\paper\\downscaling_data\\Soil_moisture_downscale_czt\\DATASET\\LABEL\\SMAPID2INSITUID'
file_extension = '*.xls'

In [25]:
# 使用 glob.glob() 函数获取符合条件的文件列表
files = glob.glob(os.path.join(input_root, file_extension))

# 遍历文件列表
for file in files:
    # 获取保存文件目录
    _filename = os.path.basename(file).split('.')[0]
    output_dir = os.path.join(smap2situ, _filename)

    # 创建保存目录
    if os.path.exists(output_dir)==False:
        os.makedirs(output_dir, exist_ok=True)
    
    # 读取 Excel 文件中的数据
    df = pd.read_excel(file)
    
    # 将0替换成NAN
    df['ATISD'].replace(0, np.nan, inplace=True)
    
    # 删除包含 NaN 的行
    df = df.dropna()
    
    # 获取SMAPID列的值，并逐个遍历
    smapid = df['SMAPID']
    for i in smapid:
        # 选取SMAPID等于i的行
        _rows = df[df['SMAPID']==i]
        insitus = []
        
        # 遍历_waternet_i列，获取其末尾的数字，添加到insitus列表中
        for j in _rows['waternet_i']:
            insitus.append(int(j.split('-')[-1]))
            
        # 根据SMAPID创建文件名和目录
        s2s_filename = str(i)
        s2s_output_dir = os.path.join(output_dir, s2s_filename)
#         np.save(s2s_output_dir, insitus)
#         print(s2s_output_dir)
#         print(i, insitus)

## 生成sm站点数据

In [6]:
# The index of day start from 1
# day 从 1 开始
def date2day(date, fm="%Y-%m-%d"):
    date_object = datetime.strptime(date, fm)
    day_of_year = date_object.timetuple().tm_yday
    return day_of_year

In [7]:
waternetall_dir = 'D:\\1GRADUATED\\paper\\downscaling_data\\Soil_moisture_downscale_czt\\DATASET\\LABEL\\waternetall.csv'

In [8]:
# 读取 Excel 文件中的数据
waternetall_df = pd.read_csv(waternetall_dir)
print(waternetall_df.info())

# 修改date格式
for i in range(waternetall_df.shape[0]):
    waternetall_df.at[i, 'date'] = '2015{:03d}'.format(date2day(str(waternetall_df.iloc[i]['date'])))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    275 non-null    object
 1   1       275 non-null    float64
 2   2       275 non-null    float64
 3   4       275 non-null    float64
 4   6       275 non-null    float64
 5   10      275 non-null    float64
 6   5       275 non-null    float64
 7   11      275 non-null    float64
 8   12      275 non-null    float64
 9   16      275 non-null    float64
 10  18      275 non-null    float64
 11  22      275 non-null    float64
 12  25      275 non-null    float64
 13  33      275 non-null    float64
 14  35      275 non-null    float64
 15  37      275 non-null    float64
 16  42      275 non-null    float64
 17  40      275 non-null    float64
 18  52      275 non-null    float64
 19  54      275 non-null    float64
 20  27      275 non-null    float64
 21  55      275 non-null    float64
 22  53      275 non-null    float64
 23  32      275 non-null    float64
 24  31      275 non-null    float64
 25  30      275 non-null    float64
 26  <>0     275 non-null    int64
 27  sum     275 non-null    float64
 28  MEAN    275 non-null    float64
 29  STD     275 non-null    float64
dtypes: float64(28), int64(1), object(1)
memory usage: 64.6+ KB
None

In [9]:
sm_out_dir = 'D:\\1GRADUATED\\paper\\downscaling_data\\Soil_moisture_downscale_czt\\DATASET\\LABEL\\SM'

In [10]:
# 从原始数据中选取除了最后四列以外的所有列，生成新的DataFrame
sm_df = waternetall_df.iloc[:, :-4]

# 遍历数据中的每一行
for index, row in sm_df.iterrows():
    date = row['date']
    sm_out_path = os.path.join(sm_out_dir, date) 
    
    # 创建保存目录
    if os.path.exists(sm_out_path)==False:
        os.makedirs(sm_out_path, exist_ok=True)
        
    # 遍历当前行中除了日期列以外的每一列
    for i in range(1, row.shape[0]):
        sm_filename = row.index[i]
#         np.save(os.path.join(sm_out_path,sm_filename), [row[i]])